body {
   font-family: Algerian, Arial, sans-serif;
}
h1 {
   font-size: 50px;
   font-variant: small-caps;
   font-style: italic;
}
p {
   font-family: Arial;
   font-size: 25px;
   font-weight: bold;
   line-height: 40px;
}
h2 {
   font: italic normal bold 40px Arial;
}
article {
   font: normal small-caps normal 25px/40px Cambria;
}