body {
   font-family: Arial;
}
a:link {
   color: crimson;
}
a:visited {
   color: darkblue;
}
a:hover {
   font-weight: bold;
   font-size: 20px;
}
a:active {
   font-style: italic;
}
li:first-child a {
   color: darkgreen;
}
li:last-child a {
   color: darkgreen;
}
p:first-of-type {
   color: darkmagenta;
   font-size: 25px;
   text-transform: capitalize;
   font-weight: bold;
}
p:last-of-type {
   color: darkslateblue;
   font-size: 25px;
   font-style: italic;
}
tr:first-child td {
   text-align: center;
   background-color: dimgrey;
   color: white;
   font-weight: bold;
}
tr:nth-child(2n) td {
   background-color: #D1D1D1;
}